$menu-colors-list:#2C3746 #6B5A40 #6B5140 #28443F !default;
$content-colors-list: #555 #666 #777 #888 !default;
$headers-colors-list: #FFF !default;

$color-primary-list: #2C3746 #6B5A40 #6B5140 #28443F #000000 !default;

$color-secondary-list: #7F6300  #5C4700 #392C00 #161100 #000000 !default;

$color-backup-list: #7F2C00 #5C2000 #391400 #160800 #000000 !default;

$font-family: "courier new" !default;