
<main id="home">
    <h1>This is the website of Chris Clarke.</h1>
    <div>
            <p>
            The website is using APIs from Flickr and Tumblr to manage the content.
            Using third party API's for website content is a simple way to manage content in a website.
            The photos from Flickr are taken by me.
            </p>
            <p>
            Developed with NodeJS, the website is built by collecting all the content and then publishing flat html files.
            A systemctl service on rasbperry pi server regulary pulls the master branch from a GIT repository and runs this build and deploy.
            </p>
        </div>
</main>
       