<!DOCTYPE html>
<html>
<head>
  <title><%= @website_title %> | <%= @page_title %></title>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <base href="/" />
  <link rel="manifest" href="/manifest.json">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="https://www.cieclarke.com/static/css/main.e19a4bf7.chunk.css" />
  <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
</head>
<body>
<noscript>
      You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
  
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>